/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Noto+Serif+KR:wght@300&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* font-family: 'Kalam', cursive;
font-family: 'Noto Serif KR', serif;
font-family: 'Roboto Slab', serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
}


/* HEADER */
header {
    width: 100%;
    height: 17%;
    display: flex;
    border-bottom: 1px solid #999;
    justify-content: space-between;
    /* 주축방향 정렬=justify-content */
    padding: 5vh 5vw;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgb(255, 255, 255, 0.3);
}

header:hover {
    background-color: white;
    opacity: 0.7;
}
/* LOGO */
header .logo {
    text-align: center;
}

header .logo span {
    position: relative;
    bottom: -8px;
    color: #333;
}
header .logo h1 a {
    position: relative;
    font: bold 24px/1 'Roboto Slab';
    color:#333;
}

header .logo h6 a {
    font: bold 10px/1 'Roboto Slab';
    color:rgb(104, 104, 104);;    
}


header #snb {
display: none;
}


/* GNB */
header #gnb {
    display: flex;
}

header #gnb li {
    margin: 0 30px;
}

header #gnb li a{
    font: 16px/1 'Roboto Slab'; 
    letter-spacing: 1px;
    color: #333;;
}

header #gnb li a:hover{
    text-decoration: underline;

}
/* SNS */
header .sns {
    display: flex;
}


header .sns li{
    margin: 0 10px;
}

header .sns li a{
    font-size: 16px;
    color: #333;
}

header .btn_menu {
    display: none;
    font-size: 24px;
    color: #333;
}

header #snb {
    display: none;
  }

/* VIDEO */
figure {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 1;
}


figure video {
width: 100%;    
height: 100%;
object-fit: cover;
}
/* figure .video 아님. 마침표 없음  */


figure .text {
    position: absolute;
    left: 6vw;
    top: 50%;
    transform: translate(0, -50%);
}

figure .text p{
    font: normal 8vw/1 'Kalam';
    color: white;
    text-shadow: 1px 1px 3px black;}


figure .text ul{
display: flex;
margin-top: 30px;
}

figure .text ul li {
 margin: 0 30px;   
}


figure .text ul li i{
    font-size: 20px;
    color: #333;
    margin-right: 10px;
}

figure .text ul li strong{
    font: 14px/1 'Roboto Slab'; 
    color: #333;
    letter-spacing: 1px;
}




/* FOOTER */
footer{
 width: 100%;
position: absolute;
bottom: 0px;
left: 0px;
font: 12px/1 'Roboto Slab';
color: #dadada;
letter-spacing: 2px;
text-align: center;
padding: 5vh 5vw;
z-index: 2;
}

/* MOBILE */
@media screen and (max-width: 800px){
 /* 일정크기 되면 사라지게 하는 것 */
    header #gnb {
    display: none;
 }  
header .sns {
    display: none;
}

header #snb {
    display: block;
}

header #snb a {
    color: black;
  }


header #snb .btn_menu{
    display: block;
    color: #333
 }

header #snb .sub_menu{
    position: absolute;
    right: 5vw;
    padding: 10% 5%;
    background-color: rgba(247, 247, 247, 0.5);
    border: 1px solid rgb(105, 103, 103);
    border-radius: 10px;
    text-align: right;
    opacity: 1;
    transition: 0.4s;
}

header #snb .sub_menu.hide {
    opacity: 0;
    }
    

header #snb .sub_menu li{
    padding: 20px 10px;
    font: 16px/1 'Roboto Slab'; 
}  
header #snb .sub_menu li a:hover{
    text-decoration: underline;

}

header #snb .sub_menu li a i{
    margin-left: 8px;
    }

header .text {
top: 50%;
     }

     
header .text p {
    font-size: 15vw;
 }

 figure .text ul #myAudio {
    position: relative;
    bottom: -28vh;
    text-align: center;
 }

}
figure .text ul #myAudio {
height: 5vh;

opacity: 0.6;
}

figure .text ul #myAudio:hover {
    opacity: 1;
}

/* FIGURE_PARTNER */
.figure_partner figure .text p{
    font: normal 7vw/1 'Kalam', 'Noto Serif KR', serif;
    color: white;
    text-shadow: 1px 1px 3px black;

}

/* FIGURE_SUPPORT */
.figure_support figure .text p{
    font: normal 7vw/1 'Kalam', 'Noto Serif KR', serif;
    color: white;
    text-shadow: 1px 1px 3px black;

}

.figure_support figure .text ul{
display: flex;
margin-top: 20px;
}

.figure_support figure .text ul li {
width: 50vw;
 margin: 0 5px;  
 padding: 10px;
 border: 1px solid #dadada; 
 border-radius: 20px;
 background-color: rgb(255, 255, 255, 0.5);
 text-align: center;
}


.figure_support figure .text ul li i{
    font-size: 50px;
    color: #333;
    margin-right: 10px;
}

.figure_support figure .text ul li strong{
    font: 20px/1 'Kalam', 'Noto Serif KR', serif;
    color:  #333;
    letter-spacing: 5px;
}

/* MENU_2_TEAM */
.menu_2_team figure .text p{
    color: rgb(84, 146, 238);
    text-shadow: 1px 1px 3px black;}

/* menu_3_challenge */
.menu_3_challenge figure .text p{
    color: rgb(152, 208, 171);
    text-shadow: 1px 1px 3px black;}

     /* .menu_3_challenge figure .text ul {
        background-color: rgb(255, 255, 255, 0.5);
    }  */

    .menu_3_challenge figure .text ul .challenge_type{
        width: 85vw;
        margin: 0px;  
        padding: 10px;
        border: 1px solid #dadada; 
        border-radius: 20px;
        background-color: rgb(255, 255, 255, 0.5);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }

        .menu_3_challenge figure .text ul .challenge_type li{
            font: normal 2vw/1 'Roboto Slab', serif; 
            color: white;
        }

        .menu_3_challenge figure .text ul .challenge_type li a{
            color: #333;

        }

        .menu_3_challenge figure .text ul .challenge_type li a:hover{
            text-decoration: underline;
        }


/* menu_4_challenge */
.menu_4_community figure .text p{
    color: rgb(238, 84, 84);
    text-shadow: 1px 1px 3px black;}